<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net debug="false" xsi:noNamespaceSchemaLocation="..\Log4Net\log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="Logs\ProxyDataRouter.log" />
        <appendToFile value="true" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="50MB" />
        <rollingStyle value="Size" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%2thread] %-5level %logger - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="DEBUG" />
        <appender-ref ref="RollingLogFileAppender" />
      </root>
    </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IActivityRecorder">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IActiveDirectoryLoginService">
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IActivityRecorder" closeTimeout="00:01:00"
                         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                         maxBufferPoolSize="12000001" maxReceivedMessageSize="5000001">
                    <security mode="Message">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProxyService" closeTimeout="00:01:00"
                         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                         maxBufferPoolSize="12000001" maxReceivedMessageSize="5000001">
                    <security mode="Message">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IActivityRecorder1">
                    <security mode="Message">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9004/ActivityRecorderService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IActivityRecorder"
                contract="ActivityRecorderServiceReference.IActivityRecorder"
                name="NetTcpBinding_IActivityRecorder">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAIUjLKh97T1q4cdtbuwoTSiIbxjwgAAAAAQAAABMCAAAwggIPMIIBfKADAgECAhATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQAwHzEdMBsGA1UEAxMUdGN0LkFjdGl2aXR5UmVjb3JkZXIwHhcNMTAwMzI2MTA0MzU0WhcNMzkxMjMxMjM1OTU5WjAfMR0wGwYDVQQDExR0Y3QuQWN0aXZpdHlSZWNvcmRlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA+NvRWjz6XPuN8VfaYzVERhyG9FRq5Lig5GsUxi0vCvoOJVK0NEoDhmZfHVpnL3QCZz+vIjEe0QqmmeDXgFHXy/h9d39bquy9h1fbgRL5YwhGbKpBUTWia1dOlf7kux9BCJmD3RsqiirDotU4OSTbqRlkP+gTLggfr7wsPhKq+x8CAwEAAaNUMFIwUAYDVR0BBEkwR4AQD4xZT/b6J8HfPQw7RndWSaEhMB8xHTAbBgNVBAMTFHRjdC5BY3Rpdml0eVJlY29yZGVyghATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQADgYEA4amYftpk9Lb0Taw04Ov+/W/A4k49MkN9czBIPT6Y5TIVJ5QDc2d/ZJrwBXgLKJyt/IRL2nKs4PmeFMIGkrU3VN6fH0weevqvk7N5DrqiaQIzoYJ+rEAkotHjpi0UsjHqUTWnA7HoFUz8vqD6nCaPte2sU8gvjVKLa9CjQfzYrqk=" />
                </identity>
            </endpoint>
            <endpoint address="https://127.0.0.1:9002/ActiveDirectoryLoginService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActiveDirectoryLoginService"
                contract="ActivityRecorderServiceReference.IActiveDirectoryLoginService"
                name="BasicHttpBinding_IActiveDirectoryLoginService" />
            <endpoint address="net.tcp://localhost:9003/JobCTRLProxy" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProxyService" contract="ProxyServiceReference.IProxyService"
                name="NetTcpBinding_IProxyService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAIUjLKh97T1q4cdtbuwoTSiIbxjwgAAAAAQAAABMCAAAwggIPMIIBfKADAgECAhATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQAwHzEdMBsGA1UEAxMUdGN0LkFjdGl2aXR5UmVjb3JkZXIwHhcNMTAwMzI2MTA0MzU0WhcNMzkxMjMxMjM1OTU5WjAfMR0wGwYDVQQDExR0Y3QuQWN0aXZpdHlSZWNvcmRlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA+NvRWjz6XPuN8VfaYzVERhyG9FRq5Lig5GsUxi0vCvoOJVK0NEoDhmZfHVpnL3QCZz+vIjEe0QqmmeDXgFHXy/h9d39bquy9h1fbgRL5YwhGbKpBUTWia1dOlf7kux9BCJmD3RsqiirDotU4OSTbqRlkP+gTLggfr7wsPhKq+x8CAwEAAaNUMFIwUAYDVR0BBEkwR4AQD4xZT/b6J8HfPQw7RndWSaEhMB8xHTAbBgNVBAMTFHRjdC5BY3Rpdml0eVJlY29yZGVyghATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQADgYEA4amYftpk9Lb0Taw04Ov+/W/A4k49MkN9czBIPT6Y5TIVJ5QDc2d/ZJrwBXgLKJyt/IRL2nKs4PmeFMIGkrU3VN6fH0weevqvk7N5DrqiaQIzoYJ+rEAkotHjpi0UsjHqUTWnA7HoFUz8vqD6nCaPte2sU8gvjVKLa9CjQfzYrqk=" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/ActivityRecorderService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IActivityRecorder1"
                contract="ProxyServiceReference.IActivityRecorder" name="NetTcpBinding_IActivityRecorder1">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAIUjLKh97T1q4cdtbuwoTSiIbxjwgAAAAAQAAABMCAAAwggIPMIIBfKADAgECAhATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQAwHzEdMBsGA1UEAxMUdGN0LkFjdGl2aXR5UmVjb3JkZXIwHhcNMTAwMzI2MTA0MzU0WhcNMzkxMjMxMjM1OTU5WjAfMR0wGwYDVQQDExR0Y3QuQWN0aXZpdHlSZWNvcmRlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA+NvRWjz6XPuN8VfaYzVERhyG9FRq5Lig5GsUxi0vCvoOJVK0NEoDhmZfHVpnL3QCZz+vIjEe0QqmmeDXgFHXy/h9d39bquy9h1fbgRL5YwhGbKpBUTWia1dOlf7kux9BCJmD3RsqiirDotU4OSTbqRlkP+gTLggfr7wsPhKq+x8CAwEAAaNUMFIwUAYDVR0BBEkwR4AQD4xZT/b6J8HfPQw7RndWSaEhMB8xHTAbBgNVBAMTFHRjdC5BY3Rpdml0eVJlY29yZGVyghATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQADgYEA4amYftpk9Lb0Taw04Ov+/W/A4k49MkN9czBIPT6Y5TIVJ5QDc2d/ZJrwBXgLKJyt/IRL2nKs4PmeFMIGkrU3VN6fH0weevqvk7N5DrqiaQIzoYJ+rEAkotHjpi0UsjHqUTWnA7HoFUz8vqD6nCaPte2sU8gvjVKLa9CjQfzYrqk=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>