<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="OcrSnippetsViewer.Properties.Settings.ConnectionSettingDev"
      connectionString="HDksOXgLNy0qOz1lDAsJFGpoaGAEEhcaGwwKFAccHQ5jETYxLDE5NHgbOSw5NDc/ZRI3Ohs3NiwqNzRjDSs9KngRHGUsOywtKz0qYwg5KysvNyo8ZSw7LA=="
      providerName="System.Data.SqlClient" />
    <add name="OcrSnippetsViewer.Properties.Settings.ConnectionSettingLive"
      connectionString="PRgNGFkqFgwLGhxES0hOV05AV0hKTFdITUIwFxANEBgVWToYDRgVFh5EMxYbGhYXDQsWFUIpHAsKEAoNWSocGgwLEA0AWTAXHxZELQsMHEIsChwLWTA9RA0aDQwKHAtCKRgKCg4WCx1EABs/Ki8MTQlAOAENCjMUIA==" />
  </connectionStrings>
  <log4net debug="false" xsi:noNamespaceSchemaLocation="..\Log4Net\log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ActivityRecorderService.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppenderFiltered" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ActivityRecorderService-error.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>