<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="false" xsi:noNamespaceSchemaLocation="..\Log4Net\log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\JobCTRL.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level %24.24logger{1} - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="CustomRollingDebugLogFileAppender" type="Tct.ActivityRecorderClient.Logging.CustomRollingDebugLogFileAppender">
      <file value="Logs\JobCTRL-Debug.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="9" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level %24.24logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="CustomRollingDebugLogFileAppender" />
    </root>
  </log4net>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IMeetingCaptureService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2000000000"
          maxBufferSize="2000000000" maxConnections="10" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="8192" maxStringContentLength="2000000000" maxArrayLength="2000000000"
            maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IVoiceRecorderControllerService" />
        <binding name="NetNamedPipeBinding_IChromeCaptureService" />
        <binding name="NetNamedPipeBinding_IJavaCaptureService" />
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InterProcessServiceMEXBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingElementExtensions>
        <add name="TctMessageEncoding" type="TctEncoder.TctBindingElementExtension, TctEncoder"/>
        <add name="TctTransport" type="TctTransport.TctTransportElement, TctEncoder"/>
      </bindingElementExtensions>
    </extensions>
    <client>
      <endpoint address="net.pipe://localhost/OutlookMeetingCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="OutlookMeetingCaptureServiceReference.IMeetingCaptureService"
        name="NetNamedPipeBinding_IMeetingCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/OutlookMailCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="OutlookMailCaptureServiceReference.IOutlookMailCaptureService"
        name="NetNamedPipeBinding_IOutlookMailCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/LotusNotesMeetingCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="LotusNotesMeetingCaptureServiceReference.IMeetingCaptureService"
        name="NetNamedPipeBinding_IMeetingCaptureService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/VoiceRecorderControllerService/"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IVoiceRecorderControllerService"
        contract="VoiceRecorderControllerServiceReference.IVoiceRecorderControllerService"
        name="NetNamedPipeBinding_IVoiceRecorderControllerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/ChromeCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IChromeCaptureService"
        contract="ChromeCaptureServiceReference.IChromeCaptureService"
        name="NetNamedPipeBinding_IChromeCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/OutlookAddinMailCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="OutlookAddinMailCaptureServiceReference.IAddinMailCaptureService"
        name="NetNamedPipeBinding_IMailCaptureService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/AppControlServiceService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="AppControlServiceReference.IAppControlServiceService"
        name="NetNamedPipeBinding_IAppControlServiceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/JavaCaptureService" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_IJavaCaptureService"
        contract="JavaCaptureServiceReference.IJavaCaptureService" name="NetNamedPipeBinding_IJavaCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="Tct.ActivityRecorderClient.InterProcess.InterProcessService" behaviorConfiguration="InterProcessServiceMEXBehavior">
        <endpoint address="" binding="netNamedPipeBinding" contract="Tct.ActivityRecorderClient.InterProcess.IInterProcessService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <!-- <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/InterProcess-dbg"/>
          </baseAddresses>
        </host> -->
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <!--Thanks to a CilckOnce bug in the FW we have to use it...-->
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>