<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebsiteUrl" value="http://jobctrl.inovabra.com" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="AppClassifier" value="Inovabra" xdt:Transform="Insert"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding xdt:Transform="Remove"/>
      <netTcpBinding xdt:Transform="Insert">
        <binding name="NetTcpBinding_IActivityRecorder" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="12000001"
          maxBufferSize="5000001" maxConnections="10" maxReceivedMessageSize="5000001">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IActiveDirectoryLoginService">
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBinding_Behav" xdt:Locator="Match(name)" xdt:Transform="Remove"/>
      </endpointBehaviors>
    </behaviors>
    <extensions xdt:Transform="Remove"/>
    <client>
      <endpoint address="net.tcp://jobctrl.inovabra.com:9000/ActivityRecorderService"
        behaviorConfiguration="NetTcpBinding_Behav" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IActivityRecorder" contract="ActivityRecorderServiceReference.IActivityRecorder"
        name="NetTcpBinding_IActivityRecorder"
        xdt:Locator="Match(name)" xdt:Transform="Replace">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAIUjLKh97T1q4cdtbuwoTSiIbxjwgAAAAAQAAABMCAAAwggIPMIIBfKADAgECAhATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQAwHzEdMBsGA1UEAxMUdGN0LkFjdGl2aXR5UmVjb3JkZXIwHhcNMTAwMzI2MTA0MzU0WhcNMzkxMjMxMjM1OTU5WjAfMR0wGwYDVQQDExR0Y3QuQWN0aXZpdHlSZWNvcmRlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA+NvRWjz6XPuN8VfaYzVERhyG9FRq5Lig5GsUxi0vCvoOJVK0NEoDhmZfHVpnL3QCZz+vIjEe0QqmmeDXgFHXy/h9d39bquy9h1fbgRL5YwhGbKpBUTWia1dOlf7kux9BCJmD3RsqiirDotU4OSTbqRlkP+gTLggfr7wsPhKq+x8CAwEAAaNUMFIwUAYDVR0BBEkwR4AQD4xZT/b6J8HfPQw7RndWSaEhMB8xHTAbBgNVBAMTFHRjdC5BY3Rpdml0eVJlY29yZGVyghATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQADgYEA4amYftpk9Lb0Taw04Ov+/W/A4k49MkN9czBIPT6Y5TIVJ5QDc2d/ZJrwBXgLKJyt/IRL2nKs4PmeFMIGkrU3VN6fH0weevqvk7N5DrqiaQIzoYJ+rEAkotHjpi0UsjHqUTWnA7HoFUz8vqD6nCaPte2sU8gvjVKLa9CjQfzYrqk=" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://jobctrl.inovabra.com:9000/ActiveDirectoryLoginService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IActiveDirectoryLoginService"
        contract="ActivityRecorderServiceReference.IActiveDirectoryLoginService"
        name="NetTcpBinding_IActiveDirectoryLoginService"
        xdt:Transform="Insert" >
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAIUjLKh97T1q4cdtbuwoTSiIbxjwgAAAAAQAAABMCAAAwggIPMIIBfKADAgECAhATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQAwHzEdMBsGA1UEAxMUdGN0LkFjdGl2aXR5UmVjb3JkZXIwHhcNMTAwMzI2MTA0MzU0WhcNMzkxMjMxMjM1OTU5WjAfMR0wGwYDVQQDExR0Y3QuQWN0aXZpdHlSZWNvcmRlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA+NvRWjz6XPuN8VfaYzVERhyG9FRq5Lig5GsUxi0vCvoOJVK0NEoDhmZfHVpnL3QCZz+vIjEe0QqmmeDXgFHXy/h9d39bquy9h1fbgRL5YwhGbKpBUTWia1dOlf7kux9BCJmD3RsqiirDotU4OSTbqRlkP+gTLggfr7wsPhKq+x8CAwEAAaNUMFIwUAYDVR0BBEkwR4AQD4xZT/b6J8HfPQw7RndWSaEhMB8xHTAbBgNVBAMTFHRjdC5BY3Rpdml0eVJlY29yZGVyghATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQADgYEA4amYftpk9Lb0Taw04Ov+/W/A4k49MkN9czBIPT6Y5TIVJ5QDc2d/ZJrwBXgLKJyt/IRL2nKs4PmeFMIGkrU3VN6fH0weevqvk7N5DrqiaQIzoYJ+rEAkotHjpi0UsjHqUTWnA7HoFUz8vqD6nCaPte2sU8gvjVKLa9CjQfzYrqk=" />
        </identity>
      </endpoint>
      <endpoint name="HttpBinding_IActivityRecorder" xdt:Locator="Match(name)" xdt:Transform="Remove"/>
    </client>
  </system.serviceModel>
</configuration>