<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="JiraSyncService" Language="0" Version="1.0.0.0" Manufacturer="JobCTRL Kft." UpgradeCode="795FF6FB-1D7F-4463-BB2C-9882F44F86A2">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Property Id="COMPANYAUTHCODE" Value="00000000-0000-0000-0000-000000000000" />
		<Property Id="APIURL" Value="http://jobctrl.com/api/api.asmx" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="JiraSyncService" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<UI>
			<Property Id="DefaultUIFont">DlgFont8</Property>

			<Dialog Id="InstallDlg" Width="370" Height="270" Title="JobCTRL-Jira Synchronizer service installation" NoMinimize="yes">
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\DlgTitleFont}Ready to Install</Text>
				</Control>

				<Control Id="CompanyAuthCodeLabel" Type="Text" X="10" Y="50" Width="125" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\DlgFont8}Company's authentication code</Text>
				</Control>
				<Control Id="CompanyAuthCodeEdit" Type="Edit" X="140" Y="46" Width="220" Height="17" Property="COMPANYAUTHCODE" Default="yes" Indirect="no"/>
				<Control Id="ApiUrlLabel" Type="Text" X="10" Y="80" Width="125" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\DlgFont8}JobCTRL API's URL</Text>
				</Control>
				<Control Id="ApiUrlEdit" Type="Edit" X="140" Y="76" Width="220" Height="17" Property="APIURL" Indirect="no" />
				<Control Id="Install" Type="PushButton" X="239" Y="243" Width="56" Height="17" Text="Install">
					<Publish Event="NewDialog" Value="ProgressDlg" />
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Text="Cancel">
					<Publish Event="EndDialog" Value="Exit">1</Publish>
				</Control>
			</Dialog>

			<Dialog Id="ProgressDlg" Width="370" Height="270" Title="JobCTRL-Jira Synchronizer service installation" Modeless="yes">
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17"
				         Default="yes" Cancel="yes" Text="Cancel">
					<Publish Event="EndDialog" Value="Exit">1</Publish>
				</Control>
				<Control Id="ActionText" Type="Text" X="70" Y="100" Width="265" Height="10">
					<Subscribe Event="ActionText" Attribute="Text" />
				</Control>
				<Control Id="ProgressBar" Type="ProgressBar" X="35" Y="115" Width="300" Height="10"
				         ProgressBlocks="yes" Text="Progress done">
					<Subscribe Event="SetProgress" Attribute="Progress" />
				</Control>
				<Control Id="StatusLabel" Type="Text" X="35" Y="100" Width="35" Height="10"
				         Text="Status:" />
			</Dialog>

			<Dialog Id="ExitDlg" Width="370" Height="270" Title="JobCTRL-Jira Synchronizer service installation" NoMinimize="yes">
				<Control Id="Title" Type="Text" X="15" Y="30" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\DlgTitleFont}Installation was successful!</Text>
				</Control>
				<Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17"
				         Default="yes" Cancel="yes" Text="Finish">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
			</Dialog>

			<TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
			<TextStyle Id="DlgTitleFont" FaceName="Tahoma" Size="8" Bold="yes" />


			<InstallUISequence>
				<Show Dialog="InstallDlg" After="CostFinalize" />
				<Show Dialog="ExitDlg" OnExit="success" />
			</InstallUISequence>
		</UI>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="JiraSyncService" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponentService" Guid="A5DCFC9D-72C1-4FB4-ACDA-C5860B41C896">
				<File Source="$(var.JiraSyncTool.TargetDir)\JiraSyncTool.exe" KeyPath="yes" />
				<File Id="ConfigFile" Source="$(var.JiraSyncTool.TargetDir)\JiraSyncTool.exe.config" />
				<util:XmlFile Id="SetCompanyAuthCode"
				              Action="setValue"
				              ElementPath="//configuration/applicationSettings/JiraSyncTool.Properties.Settings/setting[\[]@name='CompanyAuthCode'[\]]/value"
				              Value="[COMPANYAUTHCODE]"
				              File="[#ConfigFile]"
				              Sequence="1"/>
				<util:XmlFile Id="SetApiUrl"
				              Action="setValue"
				              ElementPath="//configuration/applicationSettings/JiraSyncTool.Properties.Settings/setting[\[]@name='JiraSyncTool_jobCTRLAPI_API'[\]]/value"
				              Value="[APIURL]"
				              File="[#ConfigFile]"
				              Sequence="2"/>
				<File Source="$(var.JiraSyncTool.TargetDir)\JiraSyncTool.XmlSerializers.dll" />
				<File Source="$(var.JiraSyncTool.TargetDir)\log4net.dll" />
				<File Source="$(var.JiraSyncTool.TargetDir)\Microsoft.IdentityModel.JsonWebTokens.dll" />
				<File Source="$(var.JiraSyncTool.TargetDir)\Microsoft.IdentityModel.Logging.dll" />
				<File Source="$(var.JiraSyncTool.TargetDir)\Microsoft.IdentityModel.Tokens.dll" />
				<File Source="$(var.JiraSyncTool.TargetDir)\Newtonsoft.Json.dll" />
				<File Source="$(var.JiraSyncTool.TargetDir)\RestSharp.dll" />
				<File Source="$(var.JiraSyncTool.TargetDir)\System.IdentityModel.Tokens.Jwt.dll" />
				<ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="JobCTRL:JobCTRL-JiraSynchronizerService" DisplayName="JobCTRL-Jira Synchronizer Service" Description="Synchronizes tasks and worktimes between the Atlassian's Jira and JobCTRL systems." Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no">
					<util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="none" />
				</ServiceInstall>
				<ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="JobCTRL:JobCTRL-JiraSynchronizerService" Wait="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
