<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IActivityStats" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="0" maxBufferSize="11000001" maxConnections="10"
                    maxReceivedMessageSize="11000001">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="11000001"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="NetTcpBinding_Behav">
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="None"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <client>
            <!--<endpoint address="net.tcp://217.79.135.15:9000/ActivityStatsService"-->
            <endpoint address="net.tcp://localhost:9000/ActivityStatsService"
                behaviorConfiguration="NetTcpBinding_Behav" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IActivityStats" contract="ActivityStatsServiceReference.IActivityStats"
                name="NetTcpBinding_IActivityStats">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAIUjLKh97T1q4cdtbuwoTSiIbxjwgAAAAAQAAABMCAAAwggIPMIIBfKADAgECAhATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQAwHzEdMBsGA1UEAxMUdGN0LkFjdGl2aXR5UmVjb3JkZXIwHhcNMTAwMzI2MTA0MzU0WhcNMzkxMjMxMjM1OTU5WjAfMR0wGwYDVQQDExR0Y3QuQWN0aXZpdHlSZWNvcmRlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA+NvRWjz6XPuN8VfaYzVERhyG9FRq5Lig5GsUxi0vCvoOJVK0NEoDhmZfHVpnL3QCZz+vIjEe0QqmmeDXgFHXy/h9d39bquy9h1fbgRL5YwhGbKpBUTWia1dOlf7kux9BCJmD3RsqiirDotU4OSTbqRlkP+gTLggfr7wsPhKq+x8CAwEAAaNUMFIwUAYDVR0BBEkwR4AQD4xZT/b6J8HfPQw7RndWSaEhMB8xHTAbBgNVBAMTFHRjdC5BY3Rpdml0eVJlY29yZGVyghATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQADgYEA4amYftpk9Lb0Taw04Ov+/W/A4k49MkN9czBIPT6Y5TIVJ5QDc2d/ZJrwBXgLKJyt/IRL2nKs4PmeFMIGkrU3VN6fH0weevqvk7N5DrqiaQIzoYJ+rEAkotHjpi0UsjHqUTWnA7HoFUz8vqD6nCaPte2sU8gvjVKLa9CjQfzYrqk=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>