<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="false" xsi:noNamespaceSchemaLocation="..\Log4Net\log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\JobCTRL.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level %24.24logger{1} - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="CustomRollingDebugLogFileAppender" type="Tct.ActivityRecorderClient.Logging.CustomRollingDebugLogFileAppender">
      <file value="Logs\JobCTRL-Debug.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="9" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level %24.24logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="CustomRollingDebugLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="WebsiteUrl" value="https://jobctrl.com/" />
    <add key="GoogleClientId" value="615941223205-7ttcevhudgp3v9vctvri8kouhcrqe39h.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="04985VH_hxB7kREVXR-ofb5C" />	
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingWithPass" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="5000001" maxBufferPoolSize="12000001" maxReceivedMessageSize="5000001"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="100001"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IMeetingCaptureService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IVoiceRecorderControllerService" />
        <binding name="NetNamedPipeBinding_IChromeCaptureService" />
        <binding name="NetNamedPipeBinding_IJavaCaptureService" />
      </netNamedPipeBinding>
      <customBinding>
        <binding name="CustomBinding_IActivityRecorder" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <TctMessageEncoding innerMessageEncoding="binaryMessageEncoding" />
          <security authenticationMode="UserNameOverTransport" />
          <TctTransport transferMode="Buffered"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="12000001"
            maxBufferSize="5000001" maxPendingConnections="10" maxPendingAccepts="10" maxReceivedMessageSize="5000001"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBinding_Behav">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="NetTcpBinding_Behav">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="InterProcessServiceMEXBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingElementExtensions>
        <add name="TctMessageEncoding" type="TctEncoder.TctBindingElementExtension, TctEncoder"/>
        <add name="TctTransport" type="TctTransport.TctTransportElement, TctEncoder"/>
      </bindingElementExtensions>
    </extensions>
    <client>
      <endpoint address="net.tcp://jobctrl.com:9000/ActivityRecorderService2"
        behaviorConfiguration="CustomBinding_Behav" binding="customBinding"
        bindingConfiguration="CustomBinding_IActivityRecorder" contract="ActivityRecorderServiceReference.IActivityRecorder"
        name="NetTcpBinding_IActivityRecorder">
      </endpoint>
      <endpoint address="https://backoffice.jobctrl.com:443/JobCTRL/" contract="ActivityRecorderServiceReference.IActivityRecorder"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingWithPass" behaviorConfiguration="NetTcpBinding_Behav" 
                name="HttpBinding_IActivityRecorder"/>
      <endpoint address="net.pipe://localhost/OutlookMeetingCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="OutlookMeetingCaptureServiceReference.IMeetingCaptureService"
        name="NetNamedPipeBinding_IMeetingCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/OutlookMailCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="OutlookMailCaptureServiceReference.IMailCaptureService"
        name="NetNamedPipeBinding_IMailCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/LotusNotesMeetingCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="LotusNotesMeetingCaptureServiceReference.IMeetingCaptureService"
        name="NetNamedPipeBinding_IMeetingCaptureService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/VoiceRecorderControllerService/"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IVoiceRecorderControllerService"
        contract="VoiceRecorderControllerServiceReference.IVoiceRecorderControllerService"
        name="NetNamedPipeBinding_IVoiceRecorderControllerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/ChromeCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IChromeCaptureService"
        contract="ChromeCaptureServiceReference.IChromeCaptureService"
        name="NetNamedPipeBinding_IChromeCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/OutlookAddinMailCaptureService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="OutlookAddinMailCaptureServiceReference.IAddinMailCaptureService"
        name="NetNamedPipeBinding_IMailCaptureService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/AppControlServiceService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMeetingCaptureService"
        contract="AppControlServiceReference.IAppControlServiceService"
        name="NetNamedPipeBinding_IAppControlServiceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/JavaCaptureService" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_IJavaCaptureService"
        contract="JavaCaptureServiceReference.IJavaCaptureService" name="NetNamedPipeBinding_IJavaCaptureService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="Tct.ActivityRecorderClient.InterProcess.InterProcessService" behaviorConfiguration="InterProcessServiceMEXBehavior">
        <endpoint address="" binding="netNamedPipeBinding" contract="Tct.ActivityRecorderClient.InterProcess.IInterProcessService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <!-- <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/InterProcess-dbg"/>
          </baseAddresses>
        </host> -->
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <!--Thanks to a CilckOnce bug in the FW we have to use it...-->
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>