/****** Object:  StoredProcedure [dbo].[GetSchemaVersion]    Script Date: 06/25/2014 12:10:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetSchemaVersion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetSchemaVersion]
GO
/****** Object:  StoredProcedure [dbo].[GetSchemaVersion]    Script Date: 06/25/2014 12:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetSchemaVersion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetSchemaVersion] 
AS RETURN 0
' 
END
GO
