<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VoxCTRL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net debug="false" xsi:noNamespaceSchemaLocation="..\Log4Net\log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\VoxCTRL.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level %24.24logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="VoxCTRL.InteropService.VoiceRecorderControllerServiceBehavior"
        name="VoxCTRL.InteropService.VoiceRecorderControllerService">
        <endpoint address="" binding="netNamedPipeBinding" contract="VoxCTRL.InteropService.IVoiceRecorderControllerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8000/VoiceRecorderControllerService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/VoiceRecorderControllerService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IActivityRecorder" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="12000001"
          maxBufferSize="5000001" maxConnections="10" maxReceivedMessageSize="5000001">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="100001"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NetTcpBinding_Behav">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="VoxCTRL.InteropService.VoiceRecorderControllerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/VoiceRecorderControllerService/mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:9000/VoiceRecorderService" behaviorConfiguration="NetTcpBinding_Behav"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IActivityRecorder"
        contract="ActivityRecorderServiceReference.IVoiceRecorder" name="NetTcpBinding_IActivityRecorder">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAIUjLKh97T1q4cdtbuwoTSiIbxjwgAAAAAQAAABMCAAAwggIPMIIBfKADAgECAhATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQAwHzEdMBsGA1UEAxMUdGN0LkFjdGl2aXR5UmVjb3JkZXIwHhcNMTAwMzI2MTA0MzU0WhcNMzkxMjMxMjM1OTU5WjAfMR0wGwYDVQQDExR0Y3QuQWN0aXZpdHlSZWNvcmRlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA+NvRWjz6XPuN8VfaYzVERhyG9FRq5Lig5GsUxi0vCvoOJVK0NEoDhmZfHVpnL3QCZz+vIjEe0QqmmeDXgFHXy/h9d39bquy9h1fbgRL5YwhGbKpBUTWia1dOlf7kux9BCJmD3RsqiirDotU4OSTbqRlkP+gTLggfr7wsPhKq+x8CAwEAAaNUMFIwUAYDVR0BBEkwR4AQD4xZT/b6J8HfPQw7RndWSaEhMB8xHTAbBgNVBAMTFHRjdC5BY3Rpdml0eVJlY29yZGVyghATc0lbTxU6okAWZV3u8DKQMAkGBSsOAwIdBQADgYEA4amYftpk9Lb0Taw04Ov+/W/A4k49MkN9czBIPT6Y5TIVJ5QDc2d/ZJrwBXgLKJyt/IRL2nKs4PmeFMIGkrU3VN6fH0weevqvk7N5DrqiaQIzoYJ+rEAkotHjpi0UsjHqUTWnA7HoFUz8vqD6nCaPte2sU8gvjVKLa9CjQfzYrqk=" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <VoxCTRL.Properties.Settings>
      <setting name="IsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmallFormLocation" serializeAs="String">
        <value>20, 20</value>
      </setting>
      <setting name="IsSmallFromEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNameMandatory" serializeAs="String">
        <value>False</value>
      </setting>
    </VoxCTRL.Properties.Settings>
  </userSettings>
</configuration>