<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ValidCertificate" value="30818902818100F8DBD15A3CFA5CFB8DF157DA633544461C86F4546AE4B8A0E46B14C62D2F0AFA0E2552B4344A0386665F1D5A672F7402673FAF22311ED10AA699E0D78051D7CBF87D777F5BAAECBD8757DB8112F96308466CAA415135A26B574E95FEE4BB1F41089983DD1B2A8A2AC3A2D5383924DBA919643FE8132E081FAFBC2C3E12AAFB1F0203010001" xdt:Locator="Match(key)" xdt:Transform="Insert"/>
  </appSettings>
  <log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
    <file value="${LOCALAPPDATA}\Apps\VoxCTRL\Logs\VoxCTRL.log" xdt:Transform="SetAttributes(value)" />
  </appender>
  </log4net>
  <system.serviceModel>
    <client>
      <endpoint address="https://VAWWFMAPP:9002/JobCTRL/"
                name="HttpBinding_IActivityRecorder"
                xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
</configuration>