<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="JavaCaptureService.ServiceBehavior"
			         name="Tct.Java.Service.JavaCaptureService">
				<endpoint address="" binding="netNamedPipeBinding" contract="Tct.Java.Service.IJavaCaptureService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="http://localhost:8000/JavaCaptureService/mex"
				          binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/JavaCaptureService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="JavaCaptureService.ServiceBehavior">
					<serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8000/JavaCaptureService/mex"/>
					<serviceDebug includeExceptionDetailInFaults="True" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>