<?xml version="1.0" encoding="UTF-8"?>
<!--web.config for ClickOnce Install dir-->
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
                <add name="Pragma" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <add value="publish.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>